.wrapper {
    margin-bottom: rem(5);
    composes: aspect-ratio-16-9 from '../../scss/shared/theme.scss';

    :global(.video-js) {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}
