.badge {
    @include font-props(14, 10, medium);
    align-items: center;
    background-color: var(--oovvuu-color-gray-light);
    composes: rounded from '../../scss/shared/theme.scss';
    composes: uppercase from '../../scss/shared/text.scss';
    display: inline-flex;
    height: rem(16);
    justify-content: center;
    min-width: rem(40);
    padding: rem(13) rem(15);
    width: max-content;

    &:first-child:not(:only-child) {
        margin-right: rem(5);
    }
}
