.form {
    align-items: center;
    display: flex;
    margin-bottom: rem(20);
}

.input {
    composes: panel-shadow from '../../../scss/shared/theme.scss';
    composes: rounded from '../../../scss/shared/theme.scss';
    flex: 1;
    margin-right: rem(5);
}

.submit {
    align-items: center;
    background-color: var(--oovvuu-color-theme);
    color: var(--oovvuu-color-white);
    composes: panel-shadow from '../../../scss/shared/theme.scss';
    composes: rounded from '../../../scss/shared/theme.scss';
    display: flex;
    height: rem(40);
    justify-content: center;
    width: rem(40);
}
