.form {
    align-items: center;
    display: grid;
    margin-bottom: rem(20);
}

.wrapper {
    align-items: center;
    display: flex;
    margin-bottom: rem(20);
}

.filter {
    align-items: center;
    display: grid;
    grid-gap: rem(20);
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: rem(20);

    select {
        border: 1px solid #979797;
        color: #9e9e9e;
        padding: rem(5);
    }
}

.input {
    composes: panel-shadow from '../../../scss/shared/theme.scss';
    composes: rounded from '../../../scss/shared/theme.scss';
    flex: 1;
    margin-right: rem(5);
}

.submit {
    align-items: center;
    background-color: var(--oovvuu-color-theme);
    color: var(--oovvuu-color-white);
    composes: panel-shadow from '../../../scss/shared/theme.scss';
    composes: rounded from '../../../scss/shared/theme.scss';
    display: flex;
    height: rem(40);
    justify-content: center;
    width: rem(40);
}
