.wrapper {
    width: 100%;
}

.heading {
    @include override-plugin-styles {
        @include font-props(16, 22, semibold);
    };
    border-bottom: 1px solid var(--oovvuu-color-gray-light);
    composes: uppercase from '../../scss/shared/text.scss';
    margin-bottom: rem(20);
    padding: 0 0 rem(5) 0;
}

.list {
    display: grid;
    grid-row-gap: rem(20);
    max-height: 600px;
    overflow-y: scroll;
}
