.wrapper {
    background-color: var(--oovvuu-color-white);
    composes: deep-shadow from '../../../scss/shared/theme.scss';
    composes: rounded-bottom from '../../../scss/shared/theme.scss';
    overflow: hidden;
}

.card {
    display: grid;
    grid-gap: rem(10);
    grid-template-columns: max-content 1fr;
    grid-template-areas:
        'meta meta'
        'logo title'
        '. embed';
    padding: rem(5) rem(10);
}

.meta {
    display: flex;
    grid-area: meta;
}

.logo {
    grid-area: logo;
    height: rem(35);
    width: rem(35);
}

.title {
    @include override-plugin-styles {
        @include font-props(12, 18);
        padding: 0;
    }
    grid-area: title;
}

.embed {
    @include font-props(12, 12, 500);
    background-color: var(--oovvuu-color-theme);
    color: var(--oovvuu-color-white);
    composes: rounded from '../../../scss/shared/theme.scss';
    composes: uppercase from '../../../scss/shared/text.scss';
    grid-area: embed;
    height: rem(20);
    margin-left: auto;
    padding: 0 rem(8);
    width: max-content;
}
