/**
 * The shallow box-shadow.
 */
.panel-shadow {
    box-shadow: 0 1px 3px 0 rgba(63, 63, 68, 0.15), 0 0 0 1px rgba(63, 63, 68, 0.05);
}

/**
 * The deep box-shadow.
 */
.deep-shadow {
    box-shadow: 0 3px 6px 0 rgba(67, 90, 111, 0.3);
}

/**
 * Rounded borders.
 */
.rounded {
    border-radius: rem(4);
}

/**
 * Rounded bottom borders.
 */
.rounded-bottom {
    border-radius: 0 0 rem(4) rem(4);
}

/**
 * 16-9 container.
 */
.aspect-ratio-16-9 {
    position: relative;
}

.aspect-ratio-16-9::before {
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
    padding-top: calc((9/16) * 100%);
    position: relative;
}
