:root {
    --oovvuu-color-theme: #159D8F;
    --oovvuu-color-white: #FFFFFF;
    --oovvuu-color-red: #D32F2F;
    --oovvuu-color-gray-dark: #383838;
    --oovvuu-color-gray-light: #E0E0E0;

    // Misc.
    --oovvuu-plugin-width: rem(300);
}

// Plugin-wide base styles.
@include override-plugin-styles {

    // Reset list styles.
    ul,
    ol {
        list-style-type: none;
        padding: 0;
    }
}
