:root {
    --oovvuu-color-theme: #159D8F;
    --oovvuu-color-white: #FFFFFF;
    --oovvuu-color-gray-dark: #383838;
    --oovvuu-color-gray-light: #E0E0E0;

    // Misc.
    --oovvuu-box-shadow: 0 3px 6px 0 rgba(67, 90, 111, 0.3);
}

// Plugin-wide base styles.
:global(.dwc-context-section .se-tab-content .plugin-en-infomaker-oovvuu) {

    // Reset list styles.
    ul,
    ol {
        list-style-type: none;
        padding: 0;
    }
}
